@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@layerstack/tailwind/core.css';
@import '@layerstack/tailwind/utils.css';
@import '@layerstack/tailwind/themes/all.css';

@source '../../node_modules/svelte-ux/dist';
@source '../../node_modules/layerchart/dist';

:root {
	font-family: 'Gamja Flower';

	@media (min-width: 1536px) {
		.text-xs {
			font-size: 24px;
			line-height: 32px;
		}

		.text-xl {
			font-size: 40px;
			line-height: 56px;
		}

		.text-4xl {
			font-size: 72px;
			line-height: 80px;
		}

		.text-8xl {
			font-size: 192px;
			line-height: 216px;
		}
	}
}

html {
	scroll-behavior: smooth;
}

.font-bagel {
	font-family: 'Bagel Fat One';
}
