@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	font-family: 'Gamja Flower';
}
