@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	font-family: 'Gamja Flower';
}

html {
	scroll-behavior: smooth;
}

.font-bagel {
	font-family: 'Bagel Fat One';
}
